<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>

  	<section class="container ">
		  <div class="d-flex justify-content-center pt-2 bd-highlight align-items-center">
				{% with messages = get_flashed_messages(with_categories=true) %}
			    {% if messages %}
			      {% for category, message in messages %}
			        <div class="alert alert-{{category}}" role="alert">
			            {{ message }}
			        </div>
			      {%endfor%}
			    {% endif%}
			  {% endwith%}
		 	</div>
		</section>



  	<div class="container-md">
	    <h1 class="text-center mt-5">Click to Login</h1>

	    <div class="container-fluid container-md">

		    <form method='POST' action='' >
		
			  <div class='form-group pt-5 text-center'>
		      {{ form.login(class="btn btn-lg btn-outline-danger") }}
		    </div>
			  
			</form>

		</div>
	</div>

  </body>
</html>

